#oceano {
    background-image: url("../img/foto\ oceano.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.texto_oseano {
    padding-top: 160px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.icono_big {
    font-size: 60px;
    color: rgb(1, 107, 193);
}

#iconos {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(246, 255, 255);
}

.padding {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 120px;
    padding-right: 120px;
}

#forms {
    background-image: url("../img/foto\ oceano.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    text-align: center;
    text-decoration: none;
    padding-top: 150px;
}

.texto_footer{
    font-size: 15px;
    color: gray;
}

#footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

#foooiconos{
    font-size: 30px;
    color: rgb(4, 87, 203);
    padding-right: 20px;
}